@use './vars';

.sidebar {
  background: rgb(26, 49, 100); /* fallback for old browsers */
  padding: 3rem;
  position: relative;

  .content {
    position: relative;
    z-index: 2;
  }

  .radial-gradient-top {
    background: rgb(137, 183, 255);
    background: radial-gradient(
      circle at top left,
      rgba(183, 205, 252, 0.527) 0%,
      rgba(255, 255, 255, 0) 60%
    );
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .radial-gradient-bottom {
    background: rgb(137, 183, 255);
    background: radial-gradient(
      circle at bottom right,
      rgb(54, 88, 161) 0%,
      rgba(255, 255, 255, 0) 60%
    );
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
